#prev-wrapper {
  overflow: hidden;
}

#preview-content {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: space-around;
  border: 1px solid black;
  height: 70vh;
  width: 100vw;
  overflow: hidden;
}

#preview-img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: inherit;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

#preview-img {
}

#preview-chars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
